[submodule "third/LabSound"]
	path = third/LabSound
	url = https://github.com/LabSound/LabSound.git
[submodule "third/imgui"]
	path = third/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third/sokol"]
	path = third/sokol
	url = https://github.com/floooh/sokol.git
[submodule "third/entt"]
	path = third/entt
	url = https://github.com/skypjack/entt.git
