[submodule "third/LabSound"]
	path = third/LabSound
	url = git@github.com:LabSound/LabSound.git
[submodule "third/imgui"]
	path = third/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third/sokol"]
	path = third/sokol
	url = https://github.com/floooh/sokol.git
[submodule "third/entt"]
	path = third/entt
	url = https://github.com/skypjack/entt.git
[submodule "third/LabMidi"]
	path = third/LabMidi
	url = git@github.com:meshula/LabMidi.git
[submodule "third/tinyosc"]
	path = third/tinyosc
	url = git@github.com:ddiakopoulos/tinyosc.git
[submodule "third/rapidjson"]
	path = third/rapidjson
	url = git@github.com:Tencent/rapidjson.git
